:root{
  --size-block: 80px;
  
}
.App {
  text-align: center;
}

.block-row {
  .block {
    cursor: pointer;
    display: inline-block;
    width: var(--size-block);
    height: var(--size-block);
    background: #64646475;
    margin: 1px;
    line-height: var(--size-block);
  }
  .block-v0 {
    visibility: hidden;
  }
  .block-right{
    background: rgb(255, 104, 104);
  }
}
